<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdarshCare</title>
    <!-- Bootstrap Attachments -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS File -->
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <!-- Font Attachments -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body id="diabetesbody">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="width:90%">
            <a class="navbar-brand" href="{{ url_for('home') }}">AdarshCare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('diabetes_prediction') }}">Diabetes Prediction</a>
                    </li>
                    {% if session.loggedin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="path-to-user-image" alt="Profile" class="profile-image">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item name-item" href="#">{{ session['name'] }}</a></li>
                                <li><a class="dropdown-item" href="#">Terms and Conditions</a></li>
                                <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Input Form -->
<div class="container bordering">
    <form action="{{ url_for('db_prediction') }}" method="post">

        <div class="row">
            <!-- Input for Age -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Enter your Age</h5>
                        <input type="number" name="age" placeholder="Age of the patient" id="age-input" required="required">
                    </div>
                </div>
            </div>

            <!-- Input for BMI -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Enter BMI</h5>
                        <input type="number" name="bmi" placeholder="BMI" id="bmi-input" required="required">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Input for HbA1c Level -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Enter Hemoglobin Level</h5>
                        <input type="number" name="hba1c_level" placeholder="HbA1c Level" id="hba1c-input" required="required">
                    </div>
                </div>
            </div>

            <!-- Input for Blood Glucose Level -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Enter Blood Glucose Level</h5>
                        <input type="number" name="blood_glucose_level" placeholder="Blood Glucose Level" id="glucose-input" required="required">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Input for Gender -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Choose your Gender</h5>
                        <select name="gender" id="gender-input" required="required">
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            <option value="2">Other</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Input for Hypertension -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Do you have Hypertension</h5>
                        <select name="hypertension" id="hypertension-input" required="required">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Input for Heart Disease -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Do you have Heart Disease</h5>
                        <select name="heart_disease" id="heart-disease-input" required="required">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Input for Smoking History -->
            <div class="col-sm-6">
                <div class="card card-inp">
                    <div class="card-body card-body-inp">
                        <h5 class="card-title card-title-inp">Choose your Smoking History</h5>
                        <select name="smoking_history" id="smoking-history-input" required="required">
                            <option value="5">Current</option>
                            <option value="4">Never</option>
                            <option value="3">Former</option>
                            <option value="2">Ever</option>
                            <option value="1">Current</option>
                            <option value="0">No Info</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <!-- Submit Button -->
        <button type="submit" class="submit-btn btn btn-dark btn-lg btn-size">Predict</button>
        <br>
    </form>
        <!-- <h3>{{ prediction_text }}</h3> -->
    </div>

    <footer class="footer">
        <p class="footer-text">AdarshCare, Copyright &copy; 2023</p>
    </footer>


    <!-- JavaScript -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>